.error {
    color: red;
}

.homepageButtons {
    padding: 1em 3em;
    border-radius: 1.5em;
    font-size: 1.5em;
}

/*Media Query*/
@media screen and (max-width: 992px) {
    .homepageButtons {
        padding: 1em 2em;
        font-size: 1em;
    }
}